<p-breadcrumb [home]="home" [model]="items" />
<div class="main-content_top">
  <div class="title-container">
    <p class="page-title">Add New Vessel</p>
  </div>
</div>

<div class="main-content_form form-small">
  <form
    action="#"
    class="form"
    [formGroup]="vesselForm"
    (ngSubmit)="onSubmit(vesselForm)"
  >
    <div class="form-row">
      <div class="form-group mb-0">
        <div class="form-group_header">
          <p class="form-group_title">Vessel Identity</p>
          <p class="form-group_desc">
            Core technical details and registration information for this vessel
          </p>
        </div>
        <div class="form-inputs">
          <app-form-field
            label="Vessel Name"
            [control]="vesselForm.get('name')"
          >
            <input
              placeholder="e.g. British Landlord"
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="name"
              name="name"
              id="name"
            />
          </app-form-field>

          <app-form-field
            label="Vessel type"
            [control]="vesselForm.get('type')"
          >
            <p-select
              appendTo="body"
              [options]="type"
              formControlName="type"
              name="type"
              id="type"
              optionLabel="name"
              display="chip"
              placeholder="Select  Type"
            />
          </app-form-field>
        </div>

        <div class="form-inputs">
          <app-form-field label="IMO Number" [control]="vesselForm.get('IMO')">
            <input
              placeholder="7-digit IMO number"
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="IMO"
              name="IMO"
              id="IMO"
              type="number"
              (keypress)="allowOnlyNumbers($event)"
            />
          </app-form-field>

          <app-form-field label="MMSI" [control]="vesselForm.get('MMSI')">
            <input
              placeholder="e.g. ABCD1"
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="MMSI"
              name="MMSI"
              id="MMSI"
              type="number"
              (keypress)="allowOnlyNumbers($event)"
            />
          </app-form-field>

          <app-form-field
            label="Call Sign"
            [control]="vesselForm.get('callSign')"
          >
            <input
              placeholder="9-digit callSign number"
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="callSign"
              name="callSign"
              id="callSign"
              type="number"
              (keypress)="allowOnlyNumbers($event)"
            />
          </app-form-field>
        </div>

        <div class="form-inputs">
          <app-form-field
            label="Vessel Flag"
            [control]="vesselForm.get('flag')"
          >
            <p-select
              appendTo="body"
              [options]="countries"
              formControlName="flag"
              name="flag"
              id="flag"
              optionLabel="name"
              display="chip"
              [filter]="true"
              filterBy="name,code"
              placeholder="Country of registration "
            />
          </app-form-field>

          <app-form-field
            label="Gross Tonnage"
            [control]="vesselForm.get('grossTonage')"
          >
            <input
              placeholder="e.g. 45000"
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="grossTonage"
              name="grossTonage"
              id="grossTonage"
              type="number"
              (keypress)="allowOnlyNumbers($event)"
            />
          </app-form-field>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group mb-0">
        <div class="form-group_header">
          <p class="form-group_title">Operations & Ports</p>
          <p class="form-group_desc">
            Operational status, trading area and port activity
          </p>
        </div>
        <div class="form-inputs">
          <app-form-field
            label="Vessel status"
            [control]="vesselForm.get('status')"
          >
            <p-select
              appendTo="body"
              [options]="status"
              formControlName="status"
              name="status"
              id="status"
              optionLabel="name"
              display="chip"
              placeholder="Select vessel status"
            />
          </app-form-field>
          <app-form-field
            label="Dry Dock Date"
            [control]="vesselForm.get('dryDockDate')"
          >
            <p-datepicker
              size="large"
              [iconDisplay]="'input'"
              [showIcon]="true"
              formControlName="dryDockDate"
              name="dryDockDate"
              id="dryDockDate"
              placeholder="Select expected dry dock date"
            />
          </app-form-field>
        </div>

        <div class="form-inputs">
          <app-form-field
            label="Home Port"
            [control]="vesselForm.get('homePort')"
          >
            <p-select
              appendTo="body"
              [options]="ports"
              formControlName="homePort"
              name="homePort"
              id="homePort"
              optionLabel="name"
              display="chip"
              placeholder="Select home port"
            />
          </app-form-field>
          <app-form-field
            label="current Port"
            [control]="vesselForm.get('currentPort')"
          >
            <p-select
              appendTo="body"
              [options]="ports"
              formControlName="currentPort"
              name="currentPort"
              id="currentPort"
              optionLabel="name"
              display="chip"
              placeholder="Select  current port"
            />
          </app-form-field>

          <app-form-field
            label="Trade Route"
            [control]="vesselForm.get('tradeRoute')"
          >
            <p-select
              appendTo="body"
              [options]="tradeRoutes"
              formControlName="tradeRoute"
              name="tradeRoute"
              id="tradeRoute"
              optionLabel="name"
              display="chip"
              placeholder="Select  trade route"
            />
          </app-form-field>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group mb-0">
        <div class="form-group_header">
          <p class="form-group_title">Ownership & Operator</p>
          <p class="form-group_desc">
            Linked customer accounts and onboard contact details
          </p>
        </div>

        <div class="form-inputs">
          <app-form-field
            label="Vessel Owner"
            [control]="vesselForm.get('owner')"
          >
            <p-select
              appendTo="body"
              [options]="owners"
              formControlName="owner"
              name="owner"
              id="owner"
              optionLabel="name"
              display="chip"
              placeholder="Select ship owner"
            />
          </app-form-field>

          <app-form-field
            label="Vessel Manager/Operator"
            [control]="vesselForm.get('manager')"
          >
            <p-select
              [filter]="true"
              filterBy="name"
              appendTo="body"
              [options]="managers"
              formControlName="manager"
              name="manager"
              id="manager"
              optionLabel="name"
              placeholder="Select ship manager"
            />
          </app-form-field>
        </div>

        <div class="form-inputs mb-0">
          <app-form-field label="E-mail" [control]="vesselForm.get('email')">
            <input
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="email"
              name="email"
              id="email"
              placeholder="email@company.com"
            />
          </app-form-field>

          <app-form-field label="Phone" [control]="vesselForm.get('phone')">
            <input
              placeholder="+1 234 567 8900"
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="phone"
              name="phone"
              id="phone"
              type="number"
              (keypress)="allowOnlyNumbers($event)"
            />
          </app-form-field>
        </div>
        <div class="form-inputs">
          <app-form-field
            label="Captain Name"
            [control]="vesselForm.get('captainName')"
          >
            <input
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="captainName"
              name="captainName"
              id="captainName"
              placeholder="Full name"
            />
          </app-form-field>

          <app-form-field
            label="Captain E-mail"
            [control]="vesselForm.get('captainEmail')"
          >
            <input
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="captainEmail"
              name="captainEmail"
              id="captainEmail"
              placeholder="email@company.com"
            />
          </app-form-field>

          <app-form-field
            label="Captain Phone"
            [control]="vesselForm.get('captainPhone')"
          >
            <input
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="captainPhone"
              name="captainPhone"
              id="captainPhone"
              type="number"
              (keypress)="allowOnlyNumbers($event)"
              placeholder="+1 234 567 8900"
            />
          </app-form-field>
        </div>
      </div>
    </div>

    <div class="cta-container">
      <div class="cta ml-auto">
        <p-button
          outlined="true"
          size="large"
          label="Save as Draft"
          type="button"
          (onClick)="onSubmit(vesselForm)"
        />
      </div>

      <div class="cta">
        <p-button
          size="large"
          label="Save"
          type="button"
          (onClick)="onSubmit(vesselForm)"
        />
      </div>
    </div>
  </form>
</div>
