<p-breadcrumb [home]="home" [model]="items" />
<div class="main-content_top">
  <div class="title-container">
    <p class="page-title">Customer Invoices center</p>
    <div class="page-subtitle">
      Invoices of last 30 days from
      <span class="form-title-view">17/02/2026</span> to
      <span class="form-title-view">17/03/2026</span>
    </div>
  </div>

  <div class="cta">
    <p-button
      label="Create New Invoice"
      icon="pi pi-plus"
      size="large"
      (onClick)="openNew()"
    />
  </div>
</div>

<div class="search-inputs">
  <div class="search-input-item">
    <p-datepicker
      placeholder="Creation Date"
      size="large"
      [(ngModel)]="creationDate"
      selectionMode="range"
      [iconDisplay]="'input'"
      [showIcon]="true"
    />
  </div>

  <div class="search-input-item">
    <p-multiselect
      [options]="status"
      [(ngModel)]="selectedStatus"
      placeholder="Invoice Status"
      optionLabel="name"
      display="chip"
    />
  </div>
  <div class="cta">
    <p-button
      outlined="true"
      icon="pi pi-search"
      size="large"
      (onClick)="onSearch()"
    />
  </div>
</div>

<div class="main-content_bottom">
  <div class="analysis-box">
    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill"></i>
        total
      </p>
      <p class="card-data">
        $48,110.00
        <span class="form-data text-right">12 invoices</span>
      </p>
    </div>
    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill form-data-closed-txt"></i>
        Paid
      </p>
      <p class="card-data form-data-closed-txt">
        $20,000
        <span class="form-data text-right">12 invoices</span>
      </p>
    </div>

    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill form-data-pending-txt"></i>
        partially paid
      </p>
      <p class="card-data form-data-pending-txt">
        $18,00.00
        <span class="form-data text-right">2 invoices</span>
      </p>
    </div>
    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill form-data-danger"></i>
        overdue invoices
      </p>
      <p class="card-data form-data-danger">
        $100.00
        <span class="form-data text-right">12 invoices</span>
      </p>
    </div>
  </div>

  <div class="card">
    <p-tabs>
      <p-tablist>
        @for (tab of tabs; track tab.value) {
          <p-tab [value]="tab.value" (click)="onTabChange(tab.value)">
            {{ tab.title }}
          </p-tab>
        }
      </p-tablist>
    </p-tabs>

    <div class="form-view pt-0 pb-0">
      <app-data-table
        [columns]="columns"
        [value]="filteredInvoices"
        [globalFilterFields]="[
          'quotationNo',
          'linkedSO',
          'customer',
          'status',
          'amount',
        ]"
        [selectionMode]="'multiple'"
        [exportable]="true"
        (onView)="onViewOrder($event)"
        (onEdit)="handleEdit($event)"
        (onDelete)="handleDelete($event)"
        (onDeleteSelected)="handleBulkDelete($event)"
      />
    </div>
  </div>
</div>
