<p-toolbar class="mb-4">
  <ng-template #start>
    <p-iconfield>
      <p-inputicon class="pi pi-search" />
      <input
        pInputText
        type="text"
        (input)="filterGlobal($event)"
        placeholder="Search..."
      />
    </p-iconfield>
  </ng-template>

  <ng-template #end>
    <div class="cta-del">
      <p-button
        *ngIf="selectionMode() === 'multiple'"
        severity="danger"
        label="Delete"
        icon="pi pi-trash"
        outlined
        size="large"
        (onClick)="onDeleteSelected.emit(selected())"
        [disabled]="!selected() || !selected().length"
      />
    </div>
    <div class="cta">
      <p-button
        size="large"
        *ngIf="exportable"
        label="Export"
        icon="pi pi-upload"
        (onClick)="dt.exportCSV()"
        severity="secondary"
      />
    </div>
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="value()"
  [columns]="columns()"
  [paginator]="true"
  [rows]="10"
  [globalFilterFields]="globalFilterFields()"
  [(selection)]="selected"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngIf="selectionMode() === 'multiple'">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field" />
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td *ngIf="selectionMode() === 'multiple'">
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>

      <td *ngFor="let col of columns()">
        <!-- Special handling for 'Status' field -->
        <ng-container
          *ngIf="
            col.field === 'status' || col.field === 'paymentStatus';
            else defaultCell
          "
        >
          <p-tag
            [value]="rowData[col.field]"
            [severity]="getSeverity(rowData[col.field])"
            [rounded]="true"
          ></p-tag>
        </ng-container>

        <!-- Fallback for all other fields -->
        <ng-template #defaultCell>
          {{ rowData[col.field] }}
        </ng-template>
      </td>

      <td>
        <p-button
          icon="pi pi-search"
          (onClick)="onView.emit(rowData)"
          size="large"
          outlined
          class="mr-2 edit-btn"
          [rounded]="true"
        />

        <p-button
          icon="pi pi-pencil"
          (onClick)="onEdit.emit(rowData)"
          size="large"
          outlined
          class="mr-2 edit-btn"
          [rounded]="true"
        />

        <p-button
          [rounded]="true"
          icon="pi pi-trash"
          severity="danger"
          (onClick)="onDelete.emit(rowData)"
          size="large"
          outlined
        />
      </td>
    </tr>
  </ng-template>
</p-table>
