<p-breadcrumb [home]="home" [model]="items" />
<div class="main-content_top main-content_top-view">
  <div class="title-container">
    <p class="page-title">MAERSC</p>
    <p class="page-subtitle">Customer #CST-119-221</p>
  </div>

  <div class="cta-container cta-container-view">
    <div class="cta">
      <p-button label="Edit" size="large" type="button" variant="outlined" />
    </div>

    <div class="cta">
      <p-button label="More" icon="pi pi-plus" size="large" type="button" />
    </div>
    <div class="cta">
      <p-button label="Add New Customer" size="large" type="button" />
    </div>
  </div>
</div>

<div class="main-content_form main-content_form-view">
  <div class="analysis-box mb-1">
    <div class="analysis-card">
      <p class="card-title">total vessels</p>
      <p class="card-data mt-2">48</p>
      <div class="card-context-box">
        <p class="card-context-label">Active :</p>
        <p class="card-context-data total-closed">9</p>
      </div>
    </div>
    <div class="analysis-card">
      <p class="card-title">total Sales orders</p>
      <p class="card-data mt-2">4</p>
      <div class="card-context-box">
        <p class="card-context-label">This year :</p>
        <p class="card-context-data">3</p>
      </div>
    </div>
    <div class="analysis-card">
      <p class="card-title">total invoices</p>
      <p class="card-data mt-2">4</p>
      <div class="card-context-box">
        <p class="card-context-label">open :</p>
        <p class="card-context-data total-closed">9</p>
      </div>
    </div>
  </div>
  <div class="analysis-box mb-1">
    <div class="analysis-card">
      <p class="card-title">total income</p>
      <p class="card-data mt-2">USD 4000</p>
      <div class="card-context-box">
        <p class="card-context-label">Lifetime</p>
      </div>
    </div>
    <div class="analysis-card">
      <p class="card-title">Outstanding balance</p>
      <p class="card-data mt-2">USD 2090</p>
      <div class="card-context-box">
        <p class="card-context-label">overdue :</p>
        <p class="card-context-data form-data-danger">USD 1119</p>
      </div>
    </div>
    <div class="analysis-card">
      <p class="card-title">last delivery date</p>
      <p class="card-data mt-2">25/03/1997</p>
      <div class="card-context-box">
        <p class="card-context-label">35 days ago</p>
      </div>
    </div>
  </div>
  <div class="form form-view">
    <div class="form-row">
      <div class="form-group form-group-view mb-0">
        <div class="form-group_header form-group_header-view">
          <i class="pi pi-file"></i>
          <p class="form-group_title">Customer Information</p>
        </div>
        <div class="form-group-view-line">
          <div class="form-info-row">
            <div class="form-info-column">
              <p class="form-title-view width-5">Name</p>
              <p class="form-data">Maersc LTD.</p>
            </div>
          </div>

          <div class="form-info-row">
            <div class="form-info-column">
              <p class="form-title-view width-5">Sys ID</p>
              <p class="form-data">CST-009-1298</p>
            </div>
          </div>
        </div>
        <div class="form-group-view-line">
          <div class="form-info-row">
            <div class="form-info-column">
              <p class="form-title-view width-5">Status</p>
              <p class="form-data br-6 form-data-pending">Active</p>
            </div>
          </div>

          <div class="form-info-row">
            <div class="form-info-column">
              <p class="form-title-view width-5">Customer Since</p>
              <p class="form-data br-6">25/03/2025</p>
            </div>
          </div>
        </div>

        <div class="form-group-view-line">
          <div class="form-info-row">
            <div class="form-info-column">
              <p class="form-title-view width-5">Type</p>
              <p class="form-data">Ship Owner</p>
            </div>
          </div>

          <div class="form-info-row">
            <div class="form-info-column">
              <p class="form-title-view width-5">Country of Registeration</p>
              <p class="form-data">Germany</p>
            </div>
          </div>
        </div>

        <div class="form-group-view-line">
          <div class="form-info-row">
            <div class="form-info-column">
              <p class="form-title-view width-5">Account Manager</p>
              <p class="form-data">Bedo Rashad</p>
            </div>
          </div>
          <div class="form-info-row">
            <div class="form-info-column">
              <p class="form-title-view width-5">Website</p>
              <p class="form-data">www.maersc.com</p>
            </div>
          </div>
        </div>

        <div class="form-group-view-line">
          <div class="form-info-row">
            <!-- <div class="form-info-column">
              <p class="form-title-view width-5">Account Manager</p>
              <p class="form-data">Bedo Rashad</p>
            </div> -->
          </div>
          <div class="form-info-row">
            <div class="form-info-column">
              <p class="form-title-view width-5">Address (Office)</p>
              <p class="form-data">
                <i class="pi pi-map-marker"></i> 21, Downing st. London, England
              </p>
            </div>
          </div>
        </div>

        <div class="form-group-view-line">
          <div class="form-info-row">
            <!-- <div class="form-info-column">
              <p class="form-title-view width-5">Account Manager</p>
              <p class="form-data">Bedo Rashad</p>
            </div> -->
          </div>
          <div class="form-info-row">
            <div class="form-info-column">
              <p class="form-title-view width-5">City</p>
              <p class="form-data">London</p>
            </div>
            <div class="form-info-column">
              <p class="form-title-view width-5">Country</p>
              <p class="form-data">England</p>
            </div>
          </div>
        </div>

        <div class="form-group-view-line">
          <div class="form-info-row">
            <!-- <div class="form-info-column">
              <p class="form-title-view width-5">Account Manager</p>
              <p class="form-data">Bedo Rashad</p>
            </div> -->
          </div>
          <div class="form-info-row">
            <div class="form-info-column">
              <p class="form-title-view width-5">Time Zone</p>
              <p class="form-data">+2:00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="form form-view"> -->
  <!-- <div class="form-group_header form-group_header-view">
    <i class="pi pi-wave-pulse"></i>
    <p class="form-group_title">Key performance</p>
  </div> -->

  <!-- </div> -->

  <div class="form form-view">
    <div class="form-row">
      <div class="form-group form-group-view mb-0">
        <p-tabs class="p-tabs-view" value="0">
          <p-tablist class="p-tablist-tab-list-view">
            <p-tab value="0">Contact</p-tab>
            <p-tab value="1">Financial Info</p-tab>
            <p-tab value="2">Vessels</p-tab>
            <p-tab value="3">Sales Orders</p-tab>
            <p-tab value="4">Invoices</p-tab>
            <p-tab value="5">Payments History</p-tab>
            <p-tab value="6">Delivery Note</p-tab>
          </p-tablist>
          <p-tabpanels>
            <p-tabpanel value="0">
              <div class="form-group_header form-group_header-view">
                <i class="pi pi-users"></i>
                <p class="form-group_title">Main Contact</p>
              </div>
              <div class="form-group-view-line">
                <div class="form-info-row">
                  <div class="form-info-column">
                    <p class="form-title-view width-5">Name</p>
                    <p class="form-data border br-6 bg-grey pl-1 width-5">
                      John Edwards
                    </p>
                  </div>

                  <div class="form-info-column">
                    <p class="form-title-view width-5">Title</p>
                    <p class="form-data border br-6 bg-grey pl-1 width-5">
                      Senior Sales Specialist
                    </p>
                  </div>
                </div>
              </div>

              <div class="form-group-view-line">
                <div class="form-info-row">
                  <div class="form-info-column">
                    <p class="form-title-view width-5">Email</p>
                    <p class="form-data border br-6 bg-grey pl-1 width-5">
                      JEdwars&#64;.com
                    </p>
                  </div>

                  <div class="form-info-column">
                    <p class="form-title-view width-5">phone</p>
                    <p class="form-data border br-6 bg-grey pl-1 width-5">
                      +90-00910298892
                    </p>
                  </div>
                </div>
              </div>
            </p-tabpanel>
            <p-tabpanel value="1">
              <div class="form-group_header form-group_header-view">
                <i class="pi pi-list"></i>
                <p class="form-group_title">Payment Terms & Conditions</p>
              </div>

              <div class="form-group-view-line">
                <div class="form-info-row">
                  <div class="form-info-column">
                    <p class="form-title-view width-5">Payment Terms</p>
                    <p class="form-data">Net 30</p>
                  </div>
                </div>

                <div class="form-info-row">
                  <div class="form-info-column">
                    <p class="form-title-view width-5">Preferred Currency</p>
                    <p class="form-data">USD</p>
                  </div>
                </div>
              </div>

              <div class="form-group-view-line">
                <div class="form-info-row">
                  <div class="form-info-column">
                    <p class="form-title-view width-5">Payment Method</p>
                    <p class="form-data">Bank Transfer</p>
                  </div>
                </div>

                <div class="form-info-row">
                  <div class="form-info-column">
                    <p class="form-title-view width-5">Tax ID</p>
                    <p class="form-data">00910298892</p>
                  </div>
                </div>
              </div>

              <div class="form-group-view-line">
                <div class="form-info-row">
                  <div class="form-info-column">
                    <p class="form-title-view width-5">Billing Address</p>
                    <p class="form-data">21 lecister city, England</p>
                  </div>
                </div>

                <div class="form-info-row"></div>
              </div>
            </p-tabpanel>

            <p-tabpanel value="2">
              <div class="form-group_header form-group_header-view">
                <i class="pi pi-compass"></i>
                <p class="form-group_title">Vessels List</p>
              </div>
              <app-data-table
                [columns]="vesselssColumns"
                [value]="vessels"
                [globalFilterFields]="['name']"
                [selectionMode]="'multiple'"
                [exportable]="true"
              />
            </p-tabpanel>

            <p-tabpanel value="3">
              <div class="form-group_header form-group_header-view">
                <i class="pi pi-shopping-bag"></i>
                <p class="form-group_title">Sales Orders List</p>
              </div>
              <app-data-table
                [columns]="salesOrdersColumns"
                [value]="salesOrders"
                [globalFilterFields]="['itemName']"
                [selectionMode]="'multiple'"
                [exportable]="true"
              />
            </p-tabpanel>

            <p-tabpanel value="4">
              <div class="form-group_header form-group_header-view">
                <i class="pi pi-money-bill"></i>
                <p class="form-group_title">Invoices List</p>
              </div>
              <app-data-table
                [columns]="invoiceColumn"
                [value]="invoices"
                [globalFilterFields]="['itemName']"
                [selectionMode]="'multiple'"
                [exportable]="true"
              />
            </p-tabpanel>

            <p-tabpanel value="5">
              <div class="form-group_header form-group_header-view">
                <i class="pi pi-dollar"></i>
                <p class="form-group_title">Payments History</p>
              </div>
              <app-data-table
                [columns]="paymentsColumn"
                [value]="payments"
                [globalFilterFields]="['itemName']"
                [selectionMode]="'multiple'"
                [exportable]="true"
              />
            </p-tabpanel>

            <p-tabpanel value="6">
              <div class="form-group_header form-group_header-view">
                <i class="pi pi-truck"></i>
                <p class="form-group_title">Delivery Note List</p>
              </div>
              <app-data-table
                [columns]="deliveryNoteColumn"
                [value]="deliveryNote"
                [globalFilterFields]="['itemName']"
                [selectionMode]="'multiple'"
                [exportable]="true"
              />
            </p-tabpanel>
          </p-tabpanels>
        </p-tabs>
      </div>
    </div>
  </div>
</div>
