<p-breadcrumb [home]="home" [model]="items" />
<div class="main-content_top">
  <div class="title-container">
    <div class="page-title">
      Supplier Invoice
      <p class="form-data form-data-pending white-text fn-18 min-width">
        Pending
      </p>
    </div>

    <p class="page-subtitle">Invoice #INV-119-221</p>
    <!-- <div class="title-row">
      <p class="title-subitem">
        <i class="pi pi-bars"></i>
        Utilities
      </p>
      <p class="title-subitem"><i class="pi pi-bookmark"></i>Water Bill</p>
    </div> -->
  </div>

  <div class="cta-container cta-container-view">
    <div class="cta">
      <p-button label="Edit" size="large" type="button" />
    </div>

    <div class="cta">
      <p-button
        label="Preview"
        icon="pi pi-eye"
        size="large"
        type="button"
        (onClick)="openInvoicePreview()"
      />
    </div>
    <div class="cta">
      <p-button label="Create New Invoice" size="large" type="button" />
    </div>
  </div>
</div>

<div class="main-content_form">
  <div class="form bg-grey no-border mt-2">
    <div class="form-group_header">
      <p class="form-group_title">Overview</p>
    </div>
    <div class="form-group-view-line pl-2">
      <div class="form-info-row">
        <div class="form-info">
          <p class="form-data">Invoice Total</p>
          <p class="form-title-view">1221 USD</p>
        </div>
      </div>

      <div class="form-info-row">
        <div class="form-info">
          <p class="form-data">Paid</p>
          <p class="form-title-view">1024 USD</p>
        </div>
      </div>

      <div class="form-info-row">
        <div class="form-info">
          <p class="form-data">Outstanding Balance</p>
          <p class="form-title-view form-data-danger">97 USD</p>
        </div>
      </div>

      <div class="form-info-row">
        <div class="form-info">
          <p class="form-data">Due In</p>
          <p class="form-title-view form-data-danger">9 Days</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form form-view mt-4">
    <div class="form-row">
      <div class="form-group form-group-view mb-0">
        <p-tabs class="p-tabs-view" value="0">
          <p-tablist class="p-tablist-tab-list-view">
            <p-tab value="0"><i class="pi pi-file"></i> Summary</p-tab>
            <p-tab value="1"><i class="pi pi-dollar"></i>Payments</p-tab>
            <p-tab value="2"><i class="pi pi-history"></i> Audit Log</p-tab>
          </p-tablist>
          <p-tabpanels>
            <p-tabpanel value="0">
              <div class="form no-border">
                <div class="form-row">
                  <div class="form-group form-group-view mb-0">
                    <div class="form-group-view-line">
                      <div class="form-info-row">
                        <div class="form-info-column">
                          <p class="form-title-view width-5">Supplier</p>
                          <p class="form-data form-data-imp">Amazon</p>
                        </div>
                      </div>

                      <div class="form-info-row">
                        <div class="form-info-column">
                          <p class="form-title-view width-5">Sys ID</p>
                          <p class="form-data">SUP-INV-009-1298</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group-view-line">
                      <div class="form-info-row">
                        <div class="form-info-column">
                          <p class="form-title-view width-5">
                            Supplier Invoice
                          </p>
                          <p class="form-data">1109-0093223</p>
                        </div>
                      </div>

                      <div class="form-info-row">
                        <div class="form-info-column">
                          <p class="form-title-view width-5">Currency</p>
                          <p class="form-data">Egyptian Pounds - LE</p>
                        </div>
                      </div>
                    </div>

                    <div class="form-group-view-line">
                      <div class="form-info-row">
                        <div class="form-info-column">
                          <p class="form-title-view width-5">Tax ID</p>
                          <p class="form-data">SKEL-992-LK0</p>
                        </div>
                      </div>

                      <div class="form-info-row">
                        <div class="form-info-column">
                          <p class="form-title-view width-5">Date</p>
                          <p class="form-data">25/01/2000</p>
                        </div>
                      </div>
                    </div>

                    <div class="form-group-view-line">
                      <div class="form-info-row">
                        <div class="form-info-column">
                          <p class="form-title-view width-5">Billing Address</p>
                          <p class="form-data">-</p>
                        </div>
                      </div>
                      <div class="form-info-row">
                        <div class="form-info-column">
                          <p class="form-title-view width-5">Due Date</p>
                          <p class="form-data form-data-danger">25/02/2000</p>
                        </div>
                      </div>
                    </div>

                    <div class="form-group-view-line">
                      <div class="form-info-row">
                        <div class="form-info-column">
                          <p class="form-title-view width-5">Terms</p>
                          <p class="form-data">Net 30</p>
                        </div>
                      </div>
                      <div class="form-info-row">
                        <div class="form-info-column">
                          <p class="form-title-view width-5">PO Reference</p>
                          <p class="form-data">PO-009-110, PO-009-110</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <app-data-table
                [columns]="itemsColumns"
                [value]="itemsOrders"
                [globalFilterFields]="['itemName']"
                [selectionMode]="'multiple'"
                [exportable]="true"
              />

              <div class="order-summary order-summary-view">
                <div class="summary-row">
                  <p class="form-title-view width-5">Net Price</p>
                  <p class="form-data">1999 USD</p>
                </div>

                <div class="summary-row">
                  <p class="form-title-view width-5">Discount</p>
                  <p class="form-data">0 USD</p>
                </div>

                <div class="summary-row">
                  <p class="form-title-view width-5">Delivery Cost</p>
                  <p class="form-data">99 USD</p>
                </div>

                <div class="summary-row">
                  <p class="form-title-view width-5">Additional Costs</p>
                  <p class="form-data">999 USD</p>
                </div>

                <div class="summary-row">
                  <p class="form-title-view width-5">VAT / TAX</p>
                  <p class="form-data">0 USD</p>
                </div>

                <div class="summary-row mb-0">
                  <p class="form-title-view width-5">Total</p>
                  <p class="form-data form-data-imp">2998 USD</p>
                </div>
              </div>
            </p-tabpanel>

            <p-tabpanel value="1">
              <app-data-table
                [columns]="paymentsColumns"
                [value]="payments"
                [globalFilterFields]="['itemName']"
                [selectionMode]="'multiple'"
                [exportable]="true"
              />
            </p-tabpanel>

            <p-tabpanel value="2">
              <div class="form form-view no-border">
                <div class="form-row">
                  <div class="form-group form-group-view mb-0">
                    <div class="form-group-view-line bg-grey br-6 pl-1 mb-2">
                      <div class="form-info-row width-10">
                        <div class="form-info-column">
                          <p class="form-data">Details</p>
                        </div>
                        <p class="form-data">Timestamp</p>
                      </div>
                    </div>
                    <div class="form-group-view-line border br-6 pl-1 mb-2">
                      <div class="form-info-row width-10">
                        <div class="form-info-column">
                          <p class="form-data">
                            <i class="pi pi-user"></i>
                            Invoice created by
                            <span class="form-title-view">Sayed Shalaby</span>
                          </p>
                        </div>
                        <p class="form-data">26/03/2222</p>
                      </div>
                    </div>
                    <div class="form-group-view-line border br-6 pl-1 mb-2">
                      <div class="form-info-row width-10">
                        <div class="form-info-column">
                          <p class="form-data">
                            <i class="pi pi-user-plus"></i>
                            Invoice confirmed by
                            <span class="form-title-view">Ahmed Ismail</span>
                          </p>
                        </div>
                        <p class="form-data">26/03/2222</p>
                      </div>
                    </div>
                    <div class="form-group-view-line border br-6 pl-1 mb-2">
                      <div class="form-info-row width-10">
                        <div class="form-info-column">
                          <p class="form-data">
                            <i class="pi pi-flag-fill"></i>
                            Status changed to
                            <span class="form-title-view">In-Progress</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group-view-line border br-6 pl-1">
                      <div class="form-info-row width-10">
                        <div class="form-info-column">
                          <p class="form-data">
                            <i class="pi pi-dollar"></i>
                            Payment Linked
                            <span class="form-title-view">PY-009-1102</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </p-tabpanel>

            <!-- <p-tabpanel value="3"> </p-tabpanel>

            <p-tabpanel value="4"> </p-tabpanel> -->
          </p-tabpanels>
        </p-tabs>
      </div>
    </div>
  </div>
</div>

<!-- preview & downlod invoice -->
<p-dialog
  class="print-dialog"
  [(visible)]="invoicePreviewVisible"
  modal="true"
  [style]="{ width: '900px' }"
  [contentStyle]="{ padding: '0' }"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
>
  <!-- HEADER (NOT PRINTED) -->
  <ng-template pTemplate="header">
    <div class="dialog-header">
      <span class="page-title">Invoice Preview</span>
      <div class="cta-container cta-container-view mt-2">
        <div class="cta">
          <button
            pButton
            label="Print / Save as PDF"
            icon="pi pi-print"
            size="large"
            (click)="printInvoice()"
          ></button>
        </div>
        <!-- <div class="cta">
          <button
            pButton
            size="large"
            label="Download PDF"
            icon="pi pi-file-pdf"
            (click)="downloadInvoicePDF()"
          ></button>
        </div> -->
      </div>
    </div>
  </ng-template>

  <!-- DOCUMENT -->
  <app-invoice-document
    [invoice]="invoice"
    [type]="'supplier'"
  ></app-invoice-document>
</p-dialog>
