<p-breadcrumb [home]="home" [model]="items" />
<div class="main-content_top">
  <div class="title-container">
    <p class="page-title">Create New Customer</p>
  </div>
</div>

<div class="main-content_form">
  <form action="#" class="form" [formGroup]="cstForm">
    <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
      <p-step-list>
        <p-step [value]="1"> <p class="step-title">Company Info</p></p-step>
        <p-step [value]="2"
          ><p class="step-title">Operations & Contact</p></p-step
        >
        <p-step [value]="3"
          ><p class="step-title">Commercial & Internal</p></p-step
        >
      </p-step-list>

      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="form-row">
              <div class="form-group bg-grey border">
                <div class="form-group_header">
                  <p class="form-group_title">Company Info</p>
                  <p class="form-group_desc">
                    Basic identity and location details for this customer's
                    official record.
                  </p>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="Customer Name"
                    [control]="cstForm.get('name')"
                  >
                    <input
                      placeholder="Company legal name"
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="name"
                      name="name"
                      id="name"
                    />
                  </app-form-field>
                  <app-form-field
                    label="Customer Type"
                    [control]="cstForm.get('type')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="type"
                      formControlName="type"
                      name="type"
                      optionLabel="name"
                      display="chip"
                      placeholder="Select type"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="Registeration Country"
                    [control]="cstForm.get('regCountry')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="countries"
                      formControlName="regCountry"
                      name="regCountry"
                      id="regCountry"
                      optionLabel="name"
                      display="chip"
                      [filter]="true"
                      filterBy="name,code"
                      placeholder="Country of registration"
                    />
                  </app-form-field>

                  <app-form-field
                    label="Tax ID / VAT"
                    [control]="cstForm.get('vat')"
                  >
                    <input
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="vat"
                      name="vat"
                      id="vat"
                      placeholder="Tax / VAT registration number"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="Office Address"
                    [control]="cstForm.get('address')"
                  >
                    <input
                      placeholder="Enter Office Address"
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="address"
                      name="address"
                      id="address"
                      placeholder="Full Address"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="Country"
                    [control]="cstForm.get('country')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="countries"
                      formControlName="country"
                      name="country"
                      id="country"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name,code"
                      display="chip"
                      placeholder="Country"
                    />
                  </app-form-field>

                  <app-form-field label="City" [control]="cstForm.get('city')">
                    <input
                      placeholder="Enter city ex. (New York)"
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="city"
                      name="city"
                      id="city"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="Company Website"
                    [control]="cstForm.get('website')"
                  >
                    <input
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="website"
                      name="website"
                      placeholder="e.g. www.example.com."
                    />
                  </app-form-field>

                  <app-form-field
                    label="Time zone"
                    [control]="cstForm.get('timeZone')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="timeZones"
                      formControlName="timeZone"
                      name="timeZone"
                      optionLabel="name"
                      display="chip"
                      placeholder="e.g. +2:00 GMT"
                    />
                  </app-form-field>
                </div>
              </div>
            </div>

            <div class="cta-container">
              <div class="cta"></div>
              <div class="cta">
                <p-button
                  size="large"
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(2)"
                />
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="form-row">
              <div class="form-group bg-grey border">
                <div class="form-group_header">
                  <p class="form-group_title">Operations & Contact</p>
                  <p class="form-group_desc">
                    Where they operate and who to reach out to for day-to-day
                    communication.
                  </p>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="Operation Port"
                    [control]="cstForm.get('operationPort')"
                  >
                    <p-multiselect
                      appendTo="body"
                      [options]="groupedPorts"
                      formControlName="operationPort"
                      name="operationPort"
                      optionLabel="name"
                      display="chip"
                      optionGroupLabel="region"
                      optionGroupChildren="ports"
                      [group]="true"
                      placeholder="Search by port name or LOCODE"
                      [filter]="true"
                      filterBy="name,code"
                    />
                  </app-form-field>

                  <app-form-field
                    label="Delivery Port"
                    [control]="cstForm.get('delivery')"
                  >
                    <p-multiselect
                      appendTo="body"
                      [options]="egyptPorts"
                      formControlName="deliveryPort"
                      name="deliveryPort"
                      optionLabel="name"
                      display="chip"
                      placeholder="Select delivery port"
                      [filter]="true"
                      filterBy="name,code"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="Contact Name"
                    [control]="cstForm.get('contact')"
                  >
                    <input
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="contact"
                      name="contact"
                      placeholder="Full name"
                    />
                  </app-form-field>
                  <app-form-field
                    label="Contact Title/Position"
                    [control]="cstForm.get('title')"
                  >
                    <input
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="title"
                      name="title"
                      placeholder="e.g. Operations Manager"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="Email"
                    [control]="cstForm.get('email')"
                  >
                    <input
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="email"
                      name="email"
                      placeholder="email@company.com"
                    />
                  </app-form-field>
                  <app-form-field
                    label="contact phone"
                    [control]="cstForm.get('phone')"
                  >
                    <input
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="phone"
                      name="phone"
                      placeholder="+1 234 567 8900"
                    />
                  </app-form-field>
                </div>
              </div>
            </div>

            <div class="cta-container">
              <div class="cta">
                <p-button
                  size="large"
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(1)"
                />
              </div>
              <div class="cta">
                <p-button
                  size="large"
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(3)"
                />
              </div>
            </div>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="form-row">
              <div class="form-group bg-grey border">
                <div class="form-group_header">
                  <p class="form-group_title">Commercial Details</p>
                  <p class="form-group_desc">
                    Payment conditions, credit terms
                  </p>
                </div>

                <!-- PAYMENT INFO -->
                <div class="form-inputs">
                  <app-form-field
                    label="billing address"
                    [control]="cstForm.get('billingAddress')"
                  >
                    <input
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="billingAddress"
                      name="billingAddress"
                      placeholder="Same as office or enter billing address"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="payment terms"
                    [control]="cstForm.get('pyTerms')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="paymentTerms"
                      formControlName="pyTerms"
                      name="pyTerms"
                      optionLabel="name"
                      display="chip"
                      placeholder="Select payment terms"
                    />
                  </app-form-field>
                  <app-form-field
                    label="payment method"
                    [control]="cstForm.get('pyMethod')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="paymentMethods"
                      formControlName="pyMethod"
                      name="pyMethod"
                      optionLabel="name"
                      display="chip"
                      placeholder="Select payment method"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="preferred currency"
                    [control]="cstForm.get('currency')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="currencies"
                      formControlName="currency"
                      name="currency"
                      optionLabel="name"
                      display="chip"
                      placeholder="Select currency"
                    />
                  </app-form-field>

                  <app-form-field
                    label="Credit Limit"
                    [control]="cstForm.get('creditLimit')"
                  >
                    <p-inputnumber
                      formControlName="creditLimit"
                      name="creditLimit"
                      placeholder="e.g. 50,000"
                      [minFractionDigits]="2"
                      [maxFractionDigits]="2"
                      [useGrouping]="true"
                      suffix=" USD"
                    />
                  </app-form-field>
                </div>
              </div>

              <div class="form-group bg-grey border">
                <div class="form-group_header">
                  <p class="form-group_title">Internal Details</p>
                  <p class="form-group_desc">Internal assignment details.</p>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="Account Manager"
                    [control]="cstForm.get('accountManager')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="assignedEmployees"
                      formControlName="accountManager"
                      name="accountManager"
                      id="accountManager"
                      placeholder="Assign account manager"
                      optionLabel="name"
                      display="chip"
                    />
                  </app-form-field>

                  <app-form-field
                    label="Customer Since"
                    [control]="cstForm.get('cstAge')"
                  >
                    <p-datepicker
                      size="large"
                      [iconDisplay]="'input'"
                      [showIcon]="true"
                      formControlName="cstAge"
                      name="cstAge"
                      id="cstAge"
                      placeholder="Select date"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="Customer status"
                    [control]="cstForm.get('status')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="customerStatus"
                      formControlName="status"
                      name="status"
                      id="status"
                      placeholder="Select customer status"
                      optionLabel="name"
                      display="chip"
                    />
                  </app-form-field>

                  <div class="form-info-row"></div>
                </div>
                <div class="form-inputs">
                  <app-form-field
                    label="Customer Source"
                    [control]="cstForm.get('source')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="source"
                      formControlName="source"
                      name="source"
                      id="source"
                      placeholder="Select customer source"
                      optionLabel="name"
                      display="chip"
                    />
                  </app-form-field>

                  <div class="form-info-row"></div>
                </div>
              </div>
            </div>

            <div class="form-row mt-1">
              <div class="form-group bg-grey border">
                <div class="form-group_header">
                  <p class="form-group_title">Remarks / Notes</p>
                </div>
                <div class="form-inputs">
                  <app-form-field
                    label="Internal Notes"
                    [control]="cstForm.get('notes')"
                  >
                    <textarea
                      placeholder="Internal notes about this customer..."
                      class="p-inputtext"
                      formControlName="notes"
                      name="notes"
                      id="notes"
                      rows="5"
                    ></textarea>
                  </app-form-field>
                </div>
              </div>
            </div>
            <div class="cta-container">
              <div class="cta">
                <p-button
                  size="large"
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(2)"
                />
              </div>
              <div class="cta">
                <p-button
                  label="Create Customer"
                  size="large"
                  (onClick)="onSubmit(cstForm)"
                />
              </div>
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </form>
</div>
