<p-breadcrumb [home]="home" [model]="items" />
<div class="main-content_top">
  <div class="title-container">
    <p class="page-title">sales orders center</p>
    <div class="page-subtitle">
      Orders of last 30 days from
      <span class="form-title-view">17/02/2026</span> to
      <span class="form-title-view">17/03/2026</span>
    </div>
  </div>

  <div class="cta">
    <p-button
      label="Create New SO"
      icon="pi pi-plus"
      size="large"
      (onClick)="openNew()"
    />
  </div>
</div>

<div class="search-inputs width-10">
  <div class="search-input-item">
    <p-datepicker
      placeholder="Creation Date"
      size="large"
      [(ngModel)]="creationDate"
      selectionMode="range"
      [iconDisplay]="'input'"
      [showIcon]="true"
    />
  </div>

  <div class="search-input-item">
    <p-datepicker
      placeholder="Delivery Date"
      size="large"
      [(ngModel)]="rangeDates"
      selectionMode="range"
      [iconDisplay]="'input'"
      [showIcon]="true"
    />
  </div>

  <div class="search-input-item">
    <p-multiselect
      [options]="salesOrderStatus"
      [(ngModel)]="selectedSalesStatus"
      placeholder="Order Status"
      optionLabel="name"
      display="chip"
    />
  </div>

  <div class="search-input-item">
    <p-multiselect
      [options]="paymentStatus"
      [(ngModel)]="selectedPaymentStatus"
      placeholder="Payment Status"
      optionLabel="name"
      display="chip"
    />
  </div>
  <div class="cta">
    <p-button
      outlined="true"
      icon="pi pi-search"
      size="large"
      (onClick)="onSearch()"
    />
  </div>
</div>

<div class="main-content_bottom">
  <div class="analysis-box">
    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill"></i>
        total orders
      </p>
      <p class="card-data">48</p>
    </div>
    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill form-data-closed-txt"></i>
        total Closed
      </p>
      <p class="card-data form-data-closed-txt">20</p>
    </div>
    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill form-data-pending-txt"></i>
        total In-progress
      </p>
      <p class="card-data form-data-pending-txt">18</p>
    </div>

    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill total-invoiced"></i>
        total invoiced
      </p>
      <p class="card-data">10</p>
    </div>
    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill total-delivered"></i>
        total Delivered
      </p>
      <p class="card-data">10</p>
    </div>
  </div>

  <div class="card">
    <p-tabs>
      <p-tablist>
        @for (tab of tabs; track tab.value) {
          <p-tab [value]="tab.value" (click)="onTabChange(tab.value)">
            {{ tab.title }}
          </p-tab>
        }
      </p-tablist>
    </p-tabs>
    <div class="form-view pt-0 pb-0">
      <app-data-table
        [columns]="columns"
        [value]="filteredOrders"
        [globalFilterFields]="[
          'orderNumber',
          'customer',
          'status',
          'customer',
          'employee',
        ]"
        [selectionMode]="'multiple'"
        [exportable]="true"
        (onView)="onViewOrder($event)"
        (onEdit)="handleEdit($event)"
        (onDelete)="handleDelete($event)"
        (onDeleteSelected)="handleBulkDelete($event)"
      />
    </div>
  </div>
</div>
