<p-breadcrumb [home]="home" [model]="items" />
<div class="main-content_top">
  <div class="title-container">
    <p class="page-title">Vessels Management</p>
  </div>

  <div class="cta">
    <p-button
      label="Add New Vessel"
      icon="pi pi-plus"
      size="large"
      (onClick)="openNew()"
    />
  </div>
</div>

<div class="search-inputs width-10">
  <div class="search-input-item">
    <p-multiselect
      [options]="vesselType"
      [(ngModel)]="selectedVesselType"
      placeholder="Vessel Type"
      optionLabel="name"
      display="chip"
    />
  </div>

  <div class="search-input-item">
    <p-multiselect
      [options]="vesselStatus"
      [(ngModel)]="selectedVesselStatus"
      placeholder="Vessel Status"
      optionLabel="name"
      display="chip"
    />
  </div>
  <div class="search-input-item">
    <p-multiselect
      [options]="hasOutstanding"
      [(ngModel)]="selectedHasOutstanding"
      placeholder="Payment Status"
      optionLabel="name"
      display="chip"
    />
  </div>
  <div class="cta">
    <p-button
      outlined="true"
      icon="pi pi-search"
      size="large"
      (onClick)="onSearch()"
    />
  </div>
</div>

<div class="main-content_bottom">
  <div class="analysis-box">
    <div class="analysis-card">
      <p class="card-title"><i class="pi pi-circle-fill"></i> total ships</p>
      <p class="card-data">48</p>
    </div>
    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill form-data-closed-txt"></i>Active Vessels
      </p>
      <p class="card-data">29</p>
    </div>
    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill form-data-pending-txt"></i>Outstanding
        Balanace
      </p>
      <p class="card-data">$1800</p>
    </div>
    <!-- <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-money-bill total-invoiced"></i>top supplier
      </p>
      <p class="card-data">B.Tech</p>
    </div> -->
  </div>
</div>

<div class="card">
  <p-tabs>
    <p-tablist>
      @for (tab of tabs; track tab.value) {
        <p-tab [value]="tab.value" (click)="onTabChange(tab.value)">
          {{ tab.title }}
        </p-tab>
      }
    </p-tablist>
  </p-tabs>
  <div class="form-view pt-0 pb-0">
    <app-data-table
      [columns]="columns"
      [value]="filteredVessels"
      [globalFilterFields]="['name', 'IMO', 'owner', 'manager', 'nextDryDock']"
      [selectionMode]="'multiple'"
      [exportable]="true"
      (onView)="onViewVessel($event)"
      (onEdit)="handleEdit($event)"
      (onDelete)="handleDelete($event)"
      (onDeleteSelected)="handleBulkDelete($event)"
    />
  </div>
</div>
