:host {
  flex: 1 1 45%;
  /* margin-right: 1rem; */
  margin-bottom: 1rem;
}

.label {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--dark-color-2);
  margin-bottom: 1rem;
}

.label i {
  font-size: 0.6rem;
  font-weight: 600;
  color: var(--danger-color);
  /* margin-bottom: 0.3rem; */
  vertical-align: top;
}
.error {
  font-size: 1.4rem;
  color: var(--danger-color);
  min-height: 1.4rem; /* or more depending on font size */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  margin-top: 0.2rem;
}

.error.visible {
  opacity: 1;
  visibility: visible;
}
