<p-breadcrumb [home]="home" [model]="items" />
<div class="main-content_top">
  <div class="title-container">
    <p class="page-title">Create New Purchase Order</p>
  </div>

  <div class="cta">
    <p-button
      label="Save as Draft"
      size="large"
      type="button"
      (onClick)="onSubmit(orderForm)"
    />
  </div>
</div>

<div class="main-content_form">
  <form action="#" class="form" [formGroup]="orderForm">
    <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
      <p-step-list>
        <p-step [value]="1"
          ><p class="step-no">Step 1</p>
          <p class="step-title">General Info</p></p-step
        >
        <p-step [value]="2"
          ><p class="step-no">Step 2</p>
          <p class="step-title">Supplier Info</p></p-step
        >
        <p-step [value]="3"
          ><p class="step-no">Step 3</p>
          <p class="step-title">Items Info</p></p-step
        >
      </p-step-list>

      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="form-row">
              <div class="form-group">
                <div class="form-group_header">
                  <p class="form-group_title">Internal Info</p>
                  <p class="form-group_desc">
                    Enter your company`s information, This information are not
                    visible to clients and specific to company
                  </p>
                  <p class="form-group_desc">
                    * You can select more than one employee
                  </p>
                  <p class="form-group_desc">
                    * Check order categories related to order
                  </p>
                </div>
                <div class="form-inputs">
                  <app-form-field
                    label="Assigned Employee(s)"
                    [control]="orderForm.get('assignedEmployee')"
                  >
                    <p-multiselect
                      appendTo="body"
                      [options]="assignedEmployees"
                      formControlName="assignedEmployee"
                      name="assignedEmployee"
                      id="assignedEmployee(s)"
                      optionLabel="name"
                      display="chip"
                    />
                  </app-form-field>
                </div>
                <div class="form-inputs">
                  <app-form-field
                    label="Creation Date"
                    [control]="orderForm.get('creationDate')"
                  >
                    <p-datepicker
                      size="large"
                      [iconDisplay]="'input'"
                      [showIcon]="true"
                      formControlName="creationDate"
                      name="creationDate"
                      id="creationDate"
                    />
                  </app-form-field>
                </div>
                <div class="form-inputs">
                  <app-form-field
                    label="PO Category"
                    [control]="orderForm.get('orderCategory')"
                  >
                    <p-multiselect
                      appendTo="body"
                      [options]="orderCategory"
                      formControlName="orderCategory"
                      name="orderCategory"
                      id="orderCategory"
                      optionLabel="name"
                      display="chip"
                    />
                  </app-form-field>
                </div>
              </div>
              <div class="form-group">
                <div class="form-group_header">
                  <p class="form-group_title">Order Info</p>
                  <p class="form-group_desc">
                    Enter your order related info, Both statuses are
                    automatically selected to their default for first time
                  </p>
                </div>
                <div class="form-inputs">
                  <app-form-field
                    label="Quotation Number"
                    [control]="orderForm.get('quoteNumber')"
                  >
                    <input
                      placeholder="Enter Customer Quote NO"
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="quoteNumber"
                      name="quoteNumber"
                      id="quoteNumber"
                      aria-describedby="username-help"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="PO Status"
                    [control]="orderForm.get('orderStatus')"
                  >
                    <p-multiselect
                      appendTo="body"
                      [options]="orderStatus"
                      formControlName="status"
                      name="status"
                      id="status"
                      optionLabel="name"
                      display="chip"
                      placeholder="Draft"
                      readonly="true"
                    />
                  </app-form-field>
                  <app-form-field
                    label="Payment Status"
                    [control]="orderForm.get('paymentStatus')"
                  >
                    <p-multiselect
                      appendTo="body"
                      [options]="paymentStatus"
                      formControlName="paymentStatus"
                      name="paymentStatus"
                      id="paymentStatus"
                      optionLabel="name"
                      display="chip"
                      placeholder="Un-paid"
                      readonly="true"
                    />
                  </app-form-field>
                </div>
              </div>
            </div>
            <div class="cta-container">
              <div class="cta"></div>
              <div class="cta">
                <p-button
                  size="large"
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(2)"
                />
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="form-row">
              <!-- VESSEL INFO -->
              <div class="form-group">
                <div class="form-group_header">
                  <p class="form-group_title">Supplier Info</p>
                  <p class="form-group_desc">
                    Enter all required client data, All supplier info are
                    automatically filled upon selection
                  </p>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="Supplier"
                    [control]="orderForm.get('supplierName')"
                  >
                    <p-select
                      [filter]="true"
                      filterBy="name"
                      appendTo="body"
                      [options]="suppliers"
                      formControlName="supplierName"
                      name="supplierName"
                      optionLabel="supplierName"
                      display="chip"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="Address"
                    [control]="orderForm.get('supplierAddress')"
                  >
                    <input
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="supplierAddress"
                      name="supplierAddress"
                      aria-describedby="username-help"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="Email"
                    [control]="orderForm.get('supplierEmail')"
                  >
                    <input
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="supplierEmail"
                      name="supplierEmail"
                      aria-describedby="username-help"
                    />
                  </app-form-field>
                  <app-form-field
                    label="Phone"
                    [control]="orderForm.get('supplierPhone')"
                  >
                    <input
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="supplierPhone"
                      name="supplierPhone"
                      aria-describedby="username-help"
                    />
                  </app-form-field>
                </div>
              </div>
            </div>

            <div class="form-row">
              <!-- PAYMENT INFO -->
              <div class="form-group">
                <div class="form-group_header">
                  <p class="form-group_title">Payment Info</p>
                  <p class="form-group_desc">
                    Fill in all agreed payment conditions as in order
                  </p>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="payment terms"
                    [control]="orderForm.get('paymentTerms')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="paymentTerms"
                      formControlName="paymentTerms"
                      name="paymentTerms"
                      optionLabel="name"
                      display="chip"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="payment method"
                    [control]="orderForm.get('paymentMethod')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="paymentMethods"
                      formControlName="paymentMethod"
                      name="paymentMethods"
                      optionLabel="name"
                      display="chip"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="invoice address"
                    [control]="orderForm.get('invoiceAddress')"
                  >
                    <input
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="invoiceAddress"
                      name="invoiceAddress"
                    />
                  </app-form-field>
                </div>
                <div class="form-inputs">
                  <app-form-field
                    label="currency"
                    [control]="orderForm.get('currency')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="currencys"
                      formControlName="currency"
                      name="currency"
                      optionLabel="name"
                      display="chip"
                    />
                  </app-form-field>
                </div>
              </div>

              <!-- DELIVERY INFO -->
              <div class="form-group">
                <div class="form-group_header">
                  <p class="form-group_title">Delivery Info</p>
                  <p class="form-group_desc">
                    Enter all delivery related data, then issue a delivery note
                    after SO completion
                  </p>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="delivery Date"
                    [control]="orderForm.get('deliveryDate')"
                  >
                    <p-datepicker
                      size="large"
                      [iconDisplay]="'input'"
                      [showIcon]="true"
                      formControlName="deliveryDate"
                      name="deliveryDate"
                      placeholder="choose delivery date"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="delivery method"
                    [control]="orderForm.get('deliveryMethod')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="deliveryMethods"
                      formControlName="deliveryMethod"
                      name="deliveryMethod"
                      optionLabel="name"
                      display="chip"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="delivery address"
                    [control]="orderForm.get('deliveryAddress')"
                  >
                    <input
                      class="p-inputtext"
                      pSize="large"
                      pInputText
                      formControlName="deliveryAddress"
                      name="deliveryAddress"
                      aria-describedby="username-help"
                    />
                  </app-form-field>
                </div>

                <div class="form-inputs">
                  <app-form-field
                    label="delivery City"
                    [control]="orderForm.get('deliveryCity')"
                  >
                    <p-select
                      appendTo="body"
                      [options]="cities"
                      formControlName="deliveryCity"
                      name="deliveryCity"
                      optionLabel="name"
                      display="chip"
                    />
                  </app-form-field>
                </div>
              </div>
            </div>

            <div class="cta-container">
              <div class="cta">
                <p-button
                  size="large"
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(1)"
                />
              </div>
              <div class="cta">
                <p-button
                  size="large"
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(3)"
                />
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="form-group">
              <div class="form-group_header">
                <p class="form-group_title">Items Mapping</p>
                <p class="form-group_desc">
                  Enter all items required for this order, use the below search
                  item feature to easily add items, or upload them automatically
                </p>
              </div>
              <p-autoComplete
                [(ngModel)]="searchInput"
                [ngModelOptions]="{ standalone: true }"
                [suggestions]="filteredItems"
                (completeMethod)="searchItems($event)"
                optionLabel="name"
                [dropdown]="true"
                (onSelect)="onItemSelect($event)"
              >
                <ng-template let-item pTemplate="item">
                  <div class="auto-complete-dropdown">
                    <span>{{ item.name }}</span>
                    <small> ({{ item.unit }}, ${{ item.price }}) </small>
                    <span class="auto-complete-desc">{{
                      item.description
                    }}</span>
                  </div>
                </ng-template>
              </p-autoComplete>

              <!-- dynamic-table.component.html -->
              <p-table [value]="orderItems.controls">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                  <tr [formGroup]="row">
                    <td>
                      <input
                        formControlName="item"
                        name="item"
                        type="text"
                        class="p-inputtext p-component"
                      />
                    </td>
                    <td>
                      <input
                        formControlName="description"
                        name="description"
                        type="text"
                        class="p-inputtext p-component"
                        readonly
                      />
                    </td>
                    <td>
                      <input
                        formControlName="unit"
                        name="unit"
                        type="text"
                        class="p-inputtext p-component"
                        readonly
                      />
                    </td>
                    <td>
                      <input
                        formControlName="quantity"
                        name="quantity"
                        type="number"
                        class="p-inputtext p-component"
                      />
                    </td>
                    <td>
                      <input
                        formControlName="price"
                        name="price"
                        type="number"
                        class="p-inputtext p-component"
                      />
                    </td>
                    <td>
                      <input
                        formControlName="totalPrice"
                        readonly
                        name="totalPrice"
                        type="number"
                        class="p-inputtext p-component"
                        readonly
                      />
                    </td>

                    <td>
                      <button
                        size="large"
                        pButton
                        icon="pi pi-trash"
                        (click)="removeItemRow(rowIndex)"
                        class="p-button-danger"
                        type="button"
                      ></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>

              <div class="order-summary">
                <div class="summary-row">
                  <label>Net Price:</label>
                  <input
                    class="p-inputtext"
                    formControlName="netPrice"
                    type="number"
                    readonly
                  />
                </div>

                <div class="summary-row">
                  <label>Discount:</label>
                  <input
                    class="p-inputtext"
                    formControlName="discount"
                    type="number"
                  />
                </div>

                <div class="summary-row">
                  <label>Delivery Cost:</label>
                  <input
                    class="p-inputtext"
                    formControlName="deliveryCost"
                    type="number"
                  />
                </div>

                <div class="summary-row">
                  <label>Additional Costs:</label>
                  <input
                    class="p-inputtext"
                    formControlName="additionalCost"
                    type="number"
                  />
                </div>

                <div class="summary-row">
                  <label>VAT / Tax %:</label>
                  <input
                    class="p-inputtext"
                    formControlName="vat"
                    type="number"
                  />
                </div>

                <div class="summary-row total">
                  <label>Total:</label>
                  <input
                    class="p-inputtext"
                    formControlName="totalPrice"
                    type="number"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="cta-container">
              <div class="cta">
                <p-button
                  size="large"
                  label="Back"
                  icon="pi pi-arrow-left"
                  iconPos="left"
                  (onClick)="activateCallback(2)"
                />
              </div>
              <div class="cta">
                <p-button
                  label="Submit SO"
                  size="large"
                  (onClick)="onSubmit(orderForm)"
                />
              </div>
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </form>
</div>
