<p-breadcrumb [home]="home" [model]="items" />
<div class="main-content_top main-content_top-view">
  <div class="title-container">
    <p class="page-title">Expense Details</p>

    <p class="page-subtitle">Expense #EX-119-221</p>
    <div class="title-row">
      <p class="title-subitem">
        <i class="pi pi-bars"></i>
        Utilities
      </p>
      <p class="title-subitem"><i class="pi pi-bookmark"></i>Water Bill</p>
    </div>
  </div>

  <div class="cta-container cta-container-view">
    <div class="cta">
      <p-button label="Edit" size="large" type="button" />
    </div>

    <div class="cta">
      <p-button label="More" icon="pi pi-plus" size="large" type="button" />
    </div>
    <div class="cta">
      <p-button label="Add New Expense" size="large" type="button" />
    </div>
  </div>
</div>

<div class="main-content_form">
  <div class="form form-view">
    <div class="form-row">
      <div class="form-group form-group-view mb-0">
        <div class="form-group_header form-group_header-view">
          <i class="pi pi-file"></i>
          <p class="form-group_title">Overview</p>
        </div>
        <div class="form-group-view-line">
          <div class="form-info-row">
            <div class="form-info">
              <p class="form-title-view">Expense ID</p>
              <p class="form-data">#EX-119-221</p>
            </div>
          </div>

          <div class="form-info-row">
            <div class="form-info">
              <p class="form-title-view">Expense Date</p>
              <p class="form-data form-data-danger">
                <i class="pi pi-calendar"></i>26/01/2024
              </p>
            </div>
          </div>

          <div class="form-info-row">
            <div class="form-info">
              <p class="form-title-view">Customer</p>
              <p class="form-data form-data-imp">
                <i class="pi pi-user"></i>Water collection center
              </p>
            </div>
          </div>

          <div class="form-info-row">
            <div class="form-info">
              <p class="form-title-view">Amount</p>
              <p class="form-data fn-18">$5,889</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row-content">
    <div class="form form-view">
      <div class="form-group form-group-view mb-0">
        <div class="form-group_header form-group_header-view">
          <i class="pi pi-clipboard"></i>
          <p class="form-group_title">Basic information</p>
        </div>

        <div class="form-info-column">
          <p class="form-title-view form-title-view-col">Description :</p>
          <p class="form-data form-data-col">
            A water bill issued at the water collection center
          </p>
        </div>

        <div class="form-info-column">
          <p class="form-title-view form-title-view-col">Expense Category :</p>
          <p class="form-data form-data-col">Utilities</p>
        </div>

        <div class="form-info-column">
          <p class="form-title-view form-title-view-col">
            Expense Sub Category :
          </p>
          <p class="form-data form-data-col">Water Bill</p>
        </div>

        <div class="form-info-column">
          <p class="form-title-view form-title-view-col">Department :</p>
          <p class="form-data form-data-col">Operations Department</p>
        </div>
      </div>
    </div>
    <div class="form form-view">
      <div class="form-group form-group-view mb-0">
        <div class="form-group_header form-group_header-view">
          <i class="pi pi-credit-card"></i>
          <p class="form-group_title">Payment information</p>
        </div>

        <div class="form-info-column">
          <p class="form-title-view form-title-view-col">Customer :</p>
          <p class="form-data form-data-col form-data-imp">
            Water Collection Center
          </p>
        </div>

        <div class="form-info-column">
          <p class="form-title-view form-title-view-col">
            Reference to PO / SO :
          </p>
          <p class="form-data form-data-col form-data-imp">SO-2025-090-22</p>
        </div>
        <div class="form-info-column">
          <p class="form-title-view form-title-view-col">Payment Method :</p>
          <p class="form-data form-data-col">Bank Transfer</p>
        </div>
      </div>
    </div>
  </div>
</div>
