<p-breadcrumb [home]="home" [model]="items" />
<div class="main-content_top">
  <div class="title-container">
    <p class="page-title">Create New Invoice</p>
  </div>
</div>

<div class="main-content_form">
  <form action="#" class="form" [formGroup]="invoiceForm">
    <div class="form-row">
      <div class="form-group">
        <div class="form-group_header">
          <p class="form-group_title">customer Details</p>
          <p class="form-group_desc">
            Select or verify customer information for this invoice
          </p>
        </div>
        <div class="form-inputs">
          <app-form-field
            label="Customer"
            [control]="invoiceForm.get('customer')"
          >
            <p-select
              appendTo="body"
              [options]="customers"
              formControlName="customer"
              name="customer"
              id="customer"
              placeholder="Select from customers list"
              optionLabel="name"
              display="chip"
            />
          </app-form-field>
        </div>
        <div class="form-inputs">
          <app-form-field label="Vessel" [control]="invoiceForm.get('vessel')">
            <input
              placeholder="vessel name"
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="vessel"
              name="vessel"
              id="vessel"
              aria-describedby="username-help"
            />
          </app-form-field>

          <app-form-field label="IMO" [control]="invoiceForm.get('IMO')">
            <input
              placeholder="Enter IMO Number"
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="IMO"
              name="IMO"
              id="IMO"
              aria-describedby="username-help"
            />
          </app-form-field>
        </div>
        <div class="form-inputs">
          <app-form-field
            label="Customer Quotation Number"
            [control]="invoiceForm.get('quotationNo')"
          >
            <input
              placeholder="Enter Customer Quotation Number"
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="quotationNo"
              name="quotationNo"
              id="quotationNo"
              aria-describedby="username-help"
            />
          </app-form-field>
        </div>

        <div class="form-inputs">
          <app-form-field
            label=" Invoice Address"
            [control]="invoiceForm.get('invoiceAddress')"
          >
            <input
              placeholder="Enter Invoice Address"
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="invoiceAddress"
              name="invoiceAddress"
              id="invoiceAddress"
              aria-describedby="username-help"
            />
          </app-form-field>
        </div>

        <div class="form-inputs">
          <app-form-field
            label=" Sales Representative"
            [control]="invoiceForm.get('salesRep')"
          >
            <input
              placeholder="Enter sales person name"
              class="p-inputtext"
              pSize="large"
              pInputText
              formControlName="salesRep"
              name="salesRep"
              id="salesRep"
              aria-describedby="username-help"
            />
          </app-form-field>
        </div>
      </div>

      <div class="rb mt-1"></div>
      <div class="form-group">
        <div class="form-group_header">
          <p class="form-group_title">Order Details</p>
          <p class="form-group_desc">
            Specify order reference, payment terms, and transaction dates
          </p>
        </div>
        <div class="form-inputs">
          <app-form-field
            label="Invoice Date"
            [control]="invoiceForm.get('invoiceDate')"
          >
            <p-datepicker
              size="large"
              [iconDisplay]="'input'"
              [showIcon]="true"
              formControlName="invoiceDate"
              name="invoiceDate"
              id="invoiceDate"
            />
          </app-form-field>
        </div>

        <div class="form-inputs">
          <app-form-field
            label="Sales Order Reference"
            [control]="invoiceForm.get('salesOrder')"
          >
            <p-multiselect
              appendTo="body"
              [options]="salesOrders"
              formControlName="salesOrder"
              name="salesOrder"
              id="salesOrder"
              optionLabel="name"
              display="chip"
              placeholder="Check the SO related to Invoice"
            />
          </app-form-field>
        </div>

        <div class="form-inputs">
          <app-form-field
            label="Payment Terms"
            [control]="invoiceForm.get('paymentTerms')"
          >
            <p-select
              appendTo="body"
              [options]="paymentTerms"
              formControlName="paymentTerms"
              name="paymentTerms"
              id="paymentTerms"
              optionLabel="name"
              display="chip"
              placeholder="e.g. Net 30"
            />
          </app-form-field>
        </div>

        <div class="form-inputs">
          <app-form-field
            label="Due Date"
            [control]="invoiceForm.get('dueDate')"
          >
            <p-datepicker
              size="large"
              [iconDisplay]="'input'"
              [showIcon]="true"
              formControlName="dueDate"
              name="dueDate"
              id="dueDate"
            />
          </app-form-field>
        </div>
        <div class="form-inputs">
          <app-form-field
            label="Currency"
            [control]="invoiceForm.get('currency')"
          >
            <p-select
              appendTo="body"
              [options]="currencys"
              formControlName="currency"
              name="currency"
              id="currency"
              optionLabel="name"
              display="chip"
              placeholder="e.g. USD"
            />
          </app-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group_header">
        <p class="form-group_title">Invoice Items</p>
        <p class="form-group_desc">
          Add items to be included in this order, use the below search item
          feature to easily add items, or upload them automatically
        </p>
      </div>

      <div class="cta-container">
        <div class="cta-del ml-auto">
          <button
            pButton
            severity="danger"
            outlined
            type="button"
            label="Reset Items"
            icon="pi pi-trash"
            size="large"
            (click)="resetItems()"
          ></button>
        </div>

        <div class="cta">
          <button
            pButton
            type="button"
            label="Import Items"
            icon="pi pi-upload"
            size="large"
            (click)="fileInput.click()"
          ></button>

          <input
            #fileInput
            type="file"
            accept=".xlsx,.xls"
            hidden
            (change)="onExcelImport($event)"
          />
        </div>
      </div>
      <p-autoComplete
        [(ngModel)]="searchInput"
        [ngModelOptions]="{ standalone: true }"
        [suggestions]="filteredItems"
        (completeMethod)="searchItems($event)"
        optionLabel="name"
        [dropdown]="true"
        (onSelect)="onItemSelect($event)"
        placeholder="Add Item"
      >
        <ng-template let-item pTemplate="item">
          <div class="auto-complete-dropdown">
            <span>{{ item.name }}</span>
            <small> ({{ item.unit }}, ${{ item.price }}) </small>
            <span class="auto-complete-desc">{{ item.description }}</span>
          </div>
        </ng-template>
      </p-autoComplete>

      <!-- dynamic-table.component.html -->
      <p-table [value]="orderItems.controls">
        <ng-template pTemplate="header">
          <tr>
            <th>Item Name</th>
            <th>IMBA Code</th>
            <th>Description</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
          <tr [formGroup]="row">
            <td>
              <input
                formControlName="item"
                name="item"
                type="text"
                class="p-inputtext p-component"
              />
            </td>

            <td>
              <input
                formControlName="itemIMBA"
                name="itemIMBA"
                type="text"
                class="p-inputtext p-component"
                readonly
              />
            </td>
            <td>
              <input
                formControlName="description"
                name="description"
                type="text"
                class="p-inputtext p-component"
                readonly
              />
            </td>
            <td>
              <input
                formControlName="unit"
                name="unit"
                type="text"
                class="p-inputtext p-component"
                readonly
              />
            </td>
            <td>
              <input
                formControlName="quantity"
                name="quantity"
                type="number"
                class="p-inputtext p-component"
              />
            </td>
            <td>
              <input
                formControlName="price"
                name="price"
                type="number"
                class="p-inputtext p-component"
              />
            </td>
            <td>
              <input
                formControlName="totalPrice"
                readonly
                name="totalPrice"
                type="number"
                class="p-inputtext p-component"
                readonly
              />
            </td>

            <td>
              <button
                size="large"
                pButton
                icon="pi pi-trash"
                (click)="removeItemRow(rowIndex)"
                class="p-button-danger"
                type="button"
              ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="9" class="text-center text-muted">
              No items added yet. Import from Excel or add items manually.
            </td>
          </tr>
        </ng-template>
      </p-table>

      <div class="order-summary">
        <div class="summary-row">
          <label for="netPrice">Net Price:</label>
          <input
            class="p-inputtext"
            formControlName="netPrice"
            type="number"
            id="netPrice"
            readonly
          />
        </div>

        <div class="summary-row">
          <label for="discount">Discount:</label>
          <input
            class="p-inputtext"
            formControlName="discount"
            id="discount"
            type="number"
          />
        </div>

        <div class="summary-row">
          <label for="deliveryCost">Delivery Cost:</label>
          <input
            class="p-inputtext"
            formControlName="deliveryCost"
            id="deliveryCost"
            type="number"
          />
        </div>

        <div class="summary-row">
          <label for="additionalCost">Additional Costs:</label>
          <input
            class="p-inputtext"
            formControlName="additionalCost"
            id="additionalCost"
            type="number"
          />
        </div>

        <div class="summary-row">
          <label for="vat">VAT / Tax %:</label>
          <input
            class="p-inputtext"
            formControlName="vat"
            id="vat"
            type="number"
          />
        </div>

        <div class="summary-row total">
          <label for="totalPrice">Total:</label>
          <input
            class="p-inputtext no-border no-shadow"
            formControlName="totalPrice"
            id="totalPrice"
            type="number"
            readonly
          />
        </div>
      </div>
    </div>

    <div class="form-group mt-2">
      <div class="form-group_header">
        <p class="form-group_title">Remarks / Notes</p>
      </div>

      <div class="form-inputs">
        <app-form-field
          label="Internal Description"
          [control]="invoiceForm.get('remarks')"
        >
          <textarea
            placeholder="Internal notes about this Invoice..."
            class="p-inputtext"
            formControlName="remarks"
            name="remarks"
            id="remarks"
            rows="5"
          ></textarea>
        </app-form-field>
      </div>

      <div class="bb mt-2"></div>

      <div class="cta-container">
        <div class="cta ml-auto mr-1">
          <p-button
            label="Save as Draft"
            size="large"
            type="button"
            outlined
            (onClick)="onSubmit(invoiceForm)"
          />
        </div>
        <div class="cta">
          <p-button
            label="Confirm Invoice"
            size="large"
            (onClick)="onSubmit(invoiceForm)"
          />
        </div>
      </div>
    </div>
  </form>
</div>
