<p-breadcrumb [home]="home" [model]="items" />
<div class="main-content_top">
  <div class="title-container">
    <p class="page-title">Customers center</p>
  </div>

  <div class="cta">
    <p-button
      label="Add New Customer"
      icon="pi pi-plus"
      size="large"
      (onClick)="openNew()"
    />
  </div>
</div>

<div class="search-inputs width-10">
  <div class="search-input-item">
    <p-multiselect
      [options]="customerType"
      [(ngModel)]="selectedCustomerType"
      placeholder=" Customer Type"
      optionLabel="name"
      display="chip"
    />
  </div>

  <div class="search-input-item">
    <p-multiselect
      [options]="customerStatus"
      [(ngModel)]="selectedCustomerStatus"
      placeholder=" Customer Status"
      optionLabel="name"
      display="chip"
    />
  </div>
  <div class="search-input-item">
    <p-multiselect
      [options]="customerCountry"
      [(ngModel)]="selectedCustomerCountry"
      placeholder=" Customer Reg Country"
      optionLabel="name"
      display="chip"
    />
  </div>
  <div class="search-input-item">
    <p-multiselect
      [options]="accountManager"
      [(ngModel)]="selectedAccountManager"
      placeholder="Account Manager"
      optionLabel="name"
      display="chip"
    />
  </div>
  <div class="cta">
    <p-button
      outlined="true"
      icon="pi pi-search"
      size="large"
      (onClick)="onSearch()"
    />
  </div>
</div>

<div class="main-content_bottom">
  <div class="analysis-box">
    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill"></i> total Customers
      </p>
      <p class="card-data">48</p>
    </div>
    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill form-data-closed-txt"></i> active Customers
      </p>
      <p class="card-data form-data-closed-txt">38</p>
    </div>
    <div class="analysis-card">
      <p class="card-title">
        <i class="pi pi-circle-fill form-data-pending-txt"></i>Outstanding
        Balanace
      </p>
      <p class="card-data form-data-pending-txt">$1,800</p>
    </div>
  </div>
</div>

<div class="card">
  <p-tabs>
    <p-tablist>
      @for (tab of tabs; track tab.value) {
        <p-tab [value]="tab.value" (click)="onTabChange(tab.value)">
          {{ tab.title }}
        </p-tab>
      }
    </p-tablist>
  </p-tabs>
  <div class="form-view pt-0 pb-0">
    <app-data-table
      [columns]="columns"
      [value]="filteredCustomers"
      [globalFilterFields]="['name']"
      [selectionMode]="'multiple'"
      [exportable]="true"
      (onView)="onViewCustomer($event)"
      (onEdit)="handleEdit($event)"
      (onDelete)="handleDelete($event)"
      (onDeleteSelected)="handleBulkDelete($event)"
    />
  </div>
</div>
