<p-breadcrumb [home]="home" [model]="items" />
<div class="main-content_top main-content_top-view">
  <div class="title-container">
    <p class="page-title">Sales Order Detail</p>

    <p class="page-subtitle">Order #SO-119-221</p>
    <div class="title-row">
      <p class="title-subitem">
        <i class="pi pi-address-book"></i>
        Omar Alaa, Mohamed Mohsen
      </p>
      <p class="title-subitem">
        <i class="pi pi-bookmark"></i>Provision, Bonded
      </p>
    </div>
  </div>

  <div class="cta-container cta-container-view">
    <div class="cta">
      <p-button label="Edit" size="large" type="button" />
    </div>

    <div class="cta">
      <p-button label="More" icon="pi pi-plus" size="large" type="button" />
    </div>
    <div class="cta">
      <p-button label="Create Invoice" size="large" type="button" />
    </div>
  </div>
</div>

<div class="main-content_form main-content_form-view">
  <div class="form form-view">
    <div class="form-row">
      <div class="form-group form-group-view mb-0">
        <div class="form-group_header form-group_header-view">
          <i class="pi pi-file"></i>
          <p class="form-group_title">Order Overview</p>
        </div>
        <div class="form-group-view-line">
          <div class="form-info-row">
            <div class="form-info">
              <p class="form-title-view">Order ID</p>
              <p class="form-data">SO-119-221</p>
            </div>
          </div>
          <div class="form-info-row">
            <div class="form-info">
              <p class="form-title-view">Quotation Number</p>
              <p class="form-data">1112-AAEQX-298E</p>
            </div>
          </div>

          <div class="form-info-row">
            <div class="form-info">
              <p class="form-title-view">SO Date</p>
              <p class="form-data">26/01/2024</p>
            </div>
          </div>

          <div class="form-info-row">
            <div class="form-info">
              <p class="form-title-view">SO Status</p>
              <p class="form-data br-6 white-text form-data-pending">
                In-progress
              </p>
            </div>
          </div>

          <div class="form-info-row">
            <div class="form-info">
              <p class="form-title-view">Payment Status</p>
              <p class="form-data br-6 white-text form-data-pending">Partial</p>
            </div>
          </div>

          <div class="form-info-row">
            <div class="form-info">
              <p class="form-title-view">Total Amount</p>
              <p class="form-data fn-18">$5,889</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row-content">
    <div class="form form-view">
      <div class="form-row">
        <div class="form-group form-group-view mb-0">
          <div class="form-group_header form-group_header-view">
            <i class="pi pi-user"></i>
            <p class="form-group_title">Customer information</p>
          </div>

          <p class="sub-form-title">Maersc Corporation LTD.</p>
          <div class="form-info-row form-info-row-imp">
            <div class="form-info mb-0">
              <p class="form-title-view">Vessel Name</p>
              <p class="form-data form-data-imp fn-18">British Landlion</p>
            </div>
            <div class="form-info mb-0">
              <p class="form-title-view">IMO number</p>
              <p class="form-data fn-18">11987720</p>
            </div>
          </div>

          <div class="form-info-row form-info-row-imp">
            <div class="form-info">
              <p class="form-title-view">company address</p>
              <p class="form-data">
                <i class="pi pi-map-marker"></i>
                34, Hilnan St., NewCastle city, England
              </p>
            </div>
            <div class="form-info">
              <p class="form-title-view">Contact Person</p>
              <p class="form-data">Cristiano Ronaldo</p>
            </div>
          </div>

          <div class="form-info-row form-info-row-imp">
            <div class="form-info">
              <p class="form-title-view">contact email</p>
              <p class="form-data form-data-imp">
                <i class="pi pi-envelope"></i>cr.masersc&#64;maersc.com
              </p>
            </div>
            <div class="form-info">
              <p class="form-title-view">contact phone</p>
              <p class="form-data">
                <i class="pi pi-phone"></i>+990-299-221-11
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-column">
      <div class="form form-inner-col form-view">
        <div class="form-group form-group-view mb-0">
          <div class="form-group_header form-group_header-view">
            <i class="pi pi-credit-card"></i>
            <p class="form-group_title">Payment terms</p>
          </div>
          <div class="form-info-column width-10">
            <p class="form-title-view form-title-view-col">due date :</p>
            <p class="form-data form-data-col form-data-danger">
              <i class="pi pi-calendar"></i>30/4/2025
            </p>
          </div>
          <div class="form-info-column width-10">
            <p class="form-title-view form-title-view-col">Terms :</p>
            <p class="form-data form-data-col">Net 30</p>
          </div>

          <div class="form-info-column width-10">
            <p class="form-title-view form-title-view-col">method :</p>
            <p class="form-data form-data-col">Bank transfer</p>
          </div>

          <div class="form-info-column width-10">
            <p class="form-title-view form-title-view-col">Invoice address :</p>
            <p class="form-data form-data-col">34, NewCastle, England</p>
          </div>

          <div class="form-info-column width-10">
            <p class="form-title-view form-title-view-col">Currency</p>
            <p class="form-data form-data-col">USD</p>
          </div>
        </div>
      </div>

      <div class="form form-inner-col form-view">
        <div class="form-group form-group-view mb-0">
          <div class="form-group_header form-group_header-view">
            <i class="pi pi-box"></i>
            <p class="form-group_title">Delivery terms</p>
          </div>

          <div class="form-info-column width-10">
            <p class="form-title-view form-title-view-col">date :</p>
            <p class="form-data form-data-col form-data-danger">
              <i class="pi pi-calendar"></i>30/3/2025
            </p>
          </div>

          <div class="form-info-column width-10">
            <p class="form-title-view form-title-view-col">method :</p>
            <p class="form-data form-data-col">Onboard delivery</p>
          </div>

          <div class="form-info-column width-10">
            <p class="form-title-view form-title-view-col">
              Delivery address :
            </p>
            <p class="form-data form-data-col">
              <i class="pi pi-map-marker"></i>Suez Port
            </p>
          </div>
          <div class="form-info-column width-10">
            <p class="form-title-view form-title-view-col">Delivery city :</p>
            <p class="form-data form-data-col"><i class="pi pi-map"></i>Suez</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form form-view">
    <div class="form-row">
      <div class="form-group form-group-view mb-0">
        <p-tabs class="p-tabs-view" value="0">
          <p-tablist class="p-tablist-tab-list-view">
            <p-tab value="0">Items</p-tab>
            <p-tab value="1">Linked POs</p-tab>
            <p-tab value="2">Invoice</p-tab>
            <p-tab value="3">Delivery Note</p-tab>
          </p-tablist>
          <p-tabpanels>
            <p-tabpanel value="0">
              <div class="form-group_header form-group_header-view">
                <i class="pi pi-cart-arrow-down"></i>
                <p class="form-group_title">Items List</p>
              </div>
              <app-data-table
                [columns]="itemsColumns"
                [value]="itemsOrders"
                [globalFilterFields]="['itemName']"
                [selectionMode]="'multiple'"
                [exportable]="true"
              />

              <div class="order-summary order-summary-view">
                <div class="summary-row">
                  <p class="form-title-view form-title-view-col">Net Price:</p>
                  <p class="form-data">1999 USD</p>
                </div>

                <div class="summary-row">
                  <p class="form-title-view form-title-view-col">Discount:</p>
                  <p class="form-data">0 USD</p>
                </div>

                <div class="summary-row">
                  <p class="form-title-view form-title-view-col">
                    Delivery Cost:
                  </p>
                  <p class="form-data">99 USD</p>
                </div>

                <div class="summary-row">
                  <p class="form-title-view form-title-view-col">
                    Additional Costs:
                  </p>
                  <p class="form-data">999 USD</p>
                </div>

                <div class="summary-row">
                  <p class="form-title-view form-title-view-col">VAT / TAX:</p>
                  <p class="form-data">0 USD</p>
                </div>

                <div class="summary-row">
                  <p class="form-title-view form-title-view-col">Total:</p>
                  <p class="form-data form-data-imp fn-18">2998 USD</p>
                </div>
              </div>
            </p-tabpanel>
            <p-tabpanel value="1">
              <div class="form-group_header form-group_header-view">
                <i class="pi pi-list"></i>
                <p class="form-group_title">Linked Purchase Orders</p>
              </div>
              <app-data-table
                [columns]="linkedPOsColumns"
                [value]="purchaseOrders"
                [globalFilterFields]="['itemName']"
                [selectionMode]="'multiple'"
                [exportable]="true"
              />
            </p-tabpanel>
            <p-tabpanel value="2">
              <div class="form-group_header form-group_header-view">
                <i class="pi pi-money-bill"></i>
                <p class="form-group_title">Invoices List</p>
              </div>
              <app-data-table
                [columns]="invoiceColumn"
                [value]="invoice"
                [globalFilterFields]="['itemName']"
                [selectionMode]="'multiple'"
                [exportable]="true"
              />
            </p-tabpanel>
            <p-tabpanel value="3">
              <div class="form-group_header form-group_header-view">
                <i class="pi pi-truck"></i>
                <p class="form-group_title">Delivery Note List</p>
              </div>
              <app-data-table
                [columns]="deliveryNoteColumn"
                [value]="deliveryNote"
                [globalFilterFields]="['itemName']"
                [selectionMode]="'multiple'"
                [exportable]="true"
              />
            </p-tabpanel>
          </p-tabpanels>
        </p-tabs>
      </div>
    </div>
  </div>
</div>
