.top-bar {
  width: calc(100% - 10rem);
  height: 6rem;
  position: fixed;
  left: 10rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--input-border-color);
  background-color: var(--white-color);
  padding-left: 2rem;
}

.top-bar_center,
.top-bar_right {
  width: 49%;
  display: flex;
  align-items: center;
}

.top-bar_center p-iconfield {
  width: 100%;
  height: 100%;
}
.top-bar_center i {
  font-size: 2rem;
}
.top-bar_center input {
  width: 70%;
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--dark-color);
  border: 1px solid var(--input-border-color);
  background-color: var(--white-color);
  /* height: 10rem; */
}

.top-bar_center input:focus {
  border: 1px solid var(--primary-color);
}

p-inputicon {
  font-size: 1.4rem;
  top: 35%;
}
/* .logo-img-container {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img {
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
} */

.top-bar_right {
  padding-right: 2rem;
  /* width: 10%; */
  justify-content: flex-end;
  gap: 1rem;
}
.top-bar-item {
  position: relative;
  background-color: var(--light-grey-color);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  color: var(--grey-color);
  cursor: pointer;
  transition: color 0.2s;
}

.tool-wrapper {
  padding: 0.8rem;
  display: flex;
}

.top-bar-item:hover {
  color: var(--dark-color);
}

.tool-wrapper i {
  font-size: 1.8rem;
}
.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 6rem);
}

@media screen and (max-width: 1500px) {
  .top-bar_right {
    padding-right: 0.5rem;
  }
  .logo-img {
    width: 40%;
    margin-left: 2rem;
  }
}

.side-nav {
  /* border-right: 1px solid var(--light-grey-color); */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04); */
  background-color: #161d27;
  width: 10rem;
  height: 100vh;
  position: fixed;
  z-index: 1111111111;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  /* padding: 1rem 1rem; */
}

@media screen and (max-width: 1500px) {
  .side-nav {
    /* padding: 0 1rem; */
    gap: 2rem;
    /* overflow-y: auto; */
    /* width: 8rem; */
  }
}

.logo-container {
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid var(--grey-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-name {
  font-size: 2rem;
  font-family: var(--logo-font);
  font-weight: 700;
  color: var(--white-color);
  /* letter-spacing: 2px; */
  letter-spacing: -0.05em;
  display: flex;
  align-items: baseline;
}

.logo-name span {
  font-weight: 300;
  text-transform: capitalize;
  font-size: 1.8rem;
  /* margin-left: -0.8rem; */
  /* border-top: 0.5px solid var(--light-grey-color); */
  /* border-bottom: 0.5px dashed var(--light-grey-color); */

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='4' viewBox='0 0 20 4'%3E%3Cpath d='M0 2 Q5 0 10 2 Q15 4 20 2' fill='none' stroke='%23ffffff' stroke-width='1.2'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: 6px 4px;
  padding-bottom: 2px;
}

.logo-name .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #5dcaa5;
  display: inline-block;
  margin-left: 3px;
  position: relative;
  top: -10px;
}

.menu-item {
  position: relative;
  width: 100%;
  padding: 1rem;
  z-index: 99;
}

@media screen and (max-width: 1500px) {
  .menu-item {
    padding: 0.5rem;
  }
}

.icon-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: var(--grey-color);
  /* color: var(--dark-color-2); */
  font-weight: 500;
  transition: transform 0.2s;
}

@media screen and (max-width: 1500px) {
  .icon-wrapper {
    gap: 0.2rem;
  }
}

.icon-wrapper:hover {
  transform: translateX(4px);
  color: var(--white-color);
}
.icon-wrapper i {
  font-size: 1.4rem;
  font-weight: 400;
}

@media screen and (max-width: 1500px) {
  .icon-wrapper i {
    font-size: 1.8rem;
  }
}

.menu-label {
  font-family: var(--main-font);
  font-size: 1.4rem;
}

@media screen and (max-width: 1500px) {
  .menu-label {
    display: none;
  }
}
.sub-menu {
  position: absolute;
  top: -0rem;
  left: 10rem;
  padding: 1rem;
  min-width: 24rem;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--input-border-color);
  border-left: 0;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  list-style: none;
  background-color: #161d27;
  z-index: 9999;
}

@media screen and (max-width: 1500px) {
  .sub-menu {
    top: -1rem;
    left: 10rem;
  }
}

.sub-menu li {
  padding: 1rem;
  width: 100%;
  border-radius: var(--border-radius);
}

/* .sub-menu li:hover {
  background-color: var(--white-color);
} */

.sub-menu a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: var(--grey-color);
}

.sub-menu a:hover {
  color: var(--white-color);
}

@media screen and (max-width: 1500px) {
  .sub-menu a {
    gap: 0.8rem;
  }
}

.sub-menu i {
  font-size: 1.4rem;
}

.sub-menu span {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.main-content {
  width: calc(100% - 10rem);
  position: absolute;
  left: 10rem;
  top: 6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1500px) {
  .main-content {
    width: calc(100% - 10rem);
    left: 10rem;
  }
}
