.top-bar {
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--input-border-color);
  background-color: var(--white-color);
}

.top-bar_left,
.top-bar_center,
.top-bar_right {
  width: 33%;
  display: flex;
  align-items: center;
}

.top-bar_center {
  justify-content: center;
}
.top-bar_center p-iconfield {
  width: 100%;
  height: 100%;
}
.top-bar_center i {
  font-size: 2rem;
}
.top-bar_center input {
  width: 70%;
  padding: 0.8rem 3rem;
  font-size: 1.4rem;
  color: var(--dark-color);
  border: 1px solid var(--light-grey-color);
  background-color: var(--white-color);
  /* height: 10rem; */
}

.top-bar_center input:focus {
  border: 1px solid var(--grey-color);
}

p-inputicon {
  font-size: 1.4rem;
  top: 35%;
}
.logo-img-container {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img {
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
}

.logo-name {
  font-size: 2.4rem;
  font-family: var(--main-font);
  font-weight: 600;
  color: var(--dark-color-2);
  margin-left: -2rem;
  letter-spacing: -1px;
}

.logo-name span {
  font-weight: 400;
  margin-left: -0.4rem;
}

.top-bar_right {
  padding-right: 4rem;
  /* width: 10%; */
  justify-content: flex-end;
  gap: 1rem;
}
.top-bar-item {
  position: relative;
  background-color: var(--light-grey-color);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  color: var(--grey-color);
  cursor: pointer;
  transition: color 0.2s;
}

.tool-wrapper {
  padding: 0.8rem;
  display: flex;
}

.top-bar-item:hover {
  color: var(--dark-color);
}

.tool-wrapper i {
  font-size: 1.8rem;
}
.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 6rem);
}

.side-nav {
  border-bottom-right-radius: var(--border-radius);
  /* border-top-right-radius: var(--border-radius); */
  border-right: 1px solid var(--input-border-color);
  border-bottom: 1px solid var(--input-border-color);
  background-color: var(--light-grey-color);
  width: 10rem;
  height: 100vh;
  position: fixed;
  top: 6rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem 1rem;
  /* box-shadow: 1px 1px 11px var(--light-grey-color); */
}

@media screen and (max-width: 1500px) {
  .side-nav {
    /* overflow-y: auto; */
    /* scrollbar-width: 1px; */
    padding: 0 1rem;
    padding-top: 1rem;
    gap: 0.8rem;
  }
}

.menu-item {
  position: relative;
  width: 100%;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); */
  padding: 1rem;
  z-index: 99;
  /* margin-bottom: 1rem; */
}

@media screen and (max-width: 1500px) {
  .menu-item {
    padding: 0.5rem 1rem;
  }
}

.icon-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: var(--grey-color);
  /* color: var(--dark-color-2); */
  transition: transform 0.2s;
}

@media screen and (max-width: 1500px) {
  .icon-wrapper {
    gap: 0;
  }
}

.icon-wrapper:hover {
  transform: translateX(4px);
}
.icon-wrapper i {
  font-size: 1.5rem;
  font-weight: 500;
}

.menu-label {
  font-family: var(--main-font);
  font-weight: 500;
  /* font-family: var(--main-font); */
  font-size: 1.4rem;
}

.sub-menu {
  position: absolute;
  top: -0rem;
  left: 9rem;
  padding: 1rem;
  min-width: 24rem;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--input-border-color);
  border-left: 0;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  list-style: none;
  background-color: var(--white-color);
  z-index: 9999;
}

@media screen and (max-width: 1500px) {
  .sub-menu {
    top: -2rem;
    padding: 0.7rem;
  }
}

.sub-menu li {
  padding: 0.8rem;
  width: 100%;
  border-radius: var(--border-radius);
}

.sub-menu li:hover {
  background-color: var(--light-grey-color);
}

.sub-menu a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  text-decoration: none;
  color: var(--grey-color);
}
@media screen and (max-width: 1500px) {
  .sub-menu a {
    gap: 0.4rem;
  }
}
.sub-menu i {
  font-size: 1.4rem;
}

.sub-menu span {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.main-content {
  width: calc(100% - 10rem);
  position: absolute;
  left: 10rem;
  top: 6rem;
  padding: 1rem;
  /* padding-top: 1rem; */
  display: flex;
  flex-direction: column;
}
